body {
    background-image: linear-gradient(to top, green, white);
    width: 100%;
    height: 100%;
}
body, html{
    height: 100%;
}

a:visited, a:active, a:hover, a{
    text-decoration: none;
    color: white;
}
a:hover{
    color : rgba(255, 255, 255, 0.434)
}